<!-- users goals update / create page also posts to goals DB in event of new user inputted goal ; notifications opt in, posts to user DB ; notifications opt in goes to User DB, new goals go to goals DB & goalsusers DB, add new goal that already exists goes to goalsusers db -->
<div class="container">
  <div class="row text-center">
    <%= bootstrap_form_for :addgoal do |f| %>
    <%= f.text_field :name, placeholder: "Add a new custom goal" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @users_custom_goals.any? %>
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table table-striped">
      <caption class="text-center">Your Custom Goals</caption>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @users_custom_goals.each do |goal| %>
        <tr>
          <td><%= goal.name %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, goal_inactive_path(:id => goal.id), :class => "btn btn-danger", method: :put %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <br><br>

  <div class="col-xs-6 col-xs-offset-3">
    <table class="table table-striped">
      <caption class="text-center">Body</caption>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @goals.each do |goal| %>
        <tr class="goal-row goal-type-<%= goal.goal_type.gsub(/\s+/, '-') %>">
          <td><%= goal.name.capitalize %></td>
          <td><%= goal.goal_type.capitalize %></td>
          <td>
          <% is_active = goal.goals_users.where({user_id:@user.id,active:true}).any? %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, goal_inactive_path(:id => goal.id), :class => "btn btn-danger ajax-goal-add-remove", :style => (is_active ? "" : "display: none") %>
            <%= link_to '<span class="glyphicon glyphicon-ok"></span>'.html_safe, goal_update_path(:id => goal.id), :class => "btn btn-success ajax-goal-add-remove", :style => (is_active ? "display: none" : "")  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>


</div>

<!--
1) ajax delete (make goals inactive) button (within table row)
2) form for custom create and make that ajax so it appears in the list of goals
3) goals add drop down with hardcoded goals (ability to select dropdown and add them to goals list)
5) counting the goals as you select prepopulated goals
-->
