<!-- users goals update / create page also posts to goals DB in event of new user inputted goal ; notifications opt in, posts to user DB ; notifications opt in goes to User DB, new goals go to goals DB & goalsusers DB, add new goal that already exists goes to goalsusers db -->
<div class="container">
<div class="row text-center">
  <div class="col-xs-5 col-md-5">
  <h2>Custom Active Goals</h2>
  <div class="row text-center">
  <h3><table class="table table-striped">
      <thead>

      </thead>
      <tbody>
        <% @users_custom_goals.each do |goal| %>
        <tr>
           <% if goal.goals_users.where({user_id:@user.id,active:true}).any? %>
          <td><%= goal.name %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, goal_inactive_path(:id => goal.id), :method => :put, :class => "btn btn-danger ajax-goal-custom-remove" %>

          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table></h3>
  </div>
  <div class="row text-center">
  <h2>More Active Goals</h2>


  <h3><table class="table table-striped">
      <caption class="text-center"></caption>

      <tbody>
        <% @goals_user.each do |goal| %>
        <% if goal.goals_users.where({user_id:@user.id,active:true}).any? %>
        <tr>

          <td><%= goal.name.capitalize %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, goal_inactive_path(:id => goal.id), :method => :put, :class => "btn btn-danger ajax-goal-add-remove" %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table></h3>
  </div>
</div>

<div class="col-xs-2 col-md-2">
<div class="row text-center">

</div>
</div>

  <div class="col-xs-5 col-md-5">
  <h2>Add a custom goal</h2>

  <div class="row text-center">
  <h3><table class="table text-center">
  <tbody>
  <tr>
  <td>
    <%= bootstrap_form_for :addgoal, html:{class: 'ajax-goal-form'} do |f| %>
    <%= f.text_field :name, hide_label: true, placeholder: "Add a new custom goal" %>
  </td>

  <td>
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <i class="glyphicon glyphicon-ok"></i>
    <% end %>
    <% end %>
  </td>
  </tr>
  </tbody>
  </table></h3>
  </div>
  <h2>Add other goals</h2>

  <div class="row text-center">
        <h3><button type="button" id="goal-mind" class="btn btn-md btn-primary">Mind</button>
        <button type="button" id="goal-body" class="btn btn-md btn-primary">Body</button>
        <button type="button" id="goal-social" class="btn btn-md btn-primary">Social</button><br><br>
        <button type="button" id="goal-personal-growth" class="btn btn-md btn-primary">Personal Growth</button>
        <button type="button" id="goal-world-takeover" class="btn btn-md btn-primary">World Takeover</button></h3>
    <h3><table id="table2" class="table table-striped">
      <caption class="text-center"></caption>
      <tbody>
        <% @goals.each do |goal| %>
            <% is_inactive = goal.goals_users.where({user_id:@user.id,active:false}).any? %>
        <tr class="goal-type-<%= goal.goal_type.gsub(/\s+/, '-') %>" style="display: table-row">
          <td><%= goal.name.capitalize %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-ok"></span>'.html_safe, goal_update_path(:id => goal.id), :method => :put, :class => "btn btn-success ajax-goal-add-remove"  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table></h3>

  </div>
  </div>
</div>
</div>
