<!-- sign up includes facebook, bootstrap form, redirects user profile -->
<div class="container text-center">
  <div class="row">
    <% if @current_user %>
    Hello again, <%= @current_user.name %>
    <br><br>
    <% else %>
    <h2>Sign up and log in with <a href="/auth/facebook">Facebook</a></h2>
    <br><br>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :name, placeholder: "Enter your name", icon: "user" %>
      <%= f.text_field :email, placeholder: "Enter your email", icon: "envelope" %>
      <%= f.password_field :password, placeholder: "Enter your password", icon: "lock" %>
      <%= f.password_field :password_confirmation, label: "Confirm Password", icon: "lock" %>
      <%= f.submit "Sign Up!", :class=> "btn btn-primary" %>
      <br><br>
      <% end %>
    </div>
  </div>
</div>
