<!-- sign up includes facebook, bootstrap form, redirects user profile -->

<% if @current_user %>
    Hello again, <%= @current_user.name %>
    <br><br>
    <a href="/auth/logout">logout</a>
<% else %>
    You are not logged in.<br><br>
    Login with:
    <a href="/auth/facebook">Facebook</a> |
    <br><br>
<% end %>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name", icon: "user" %>
  <%= f.text_field :email, placeholder: "Enter your email", icon: "envelope" %>
  <%= f.password_field :password, placeholder: "Enter your password", icon: "lock" %>
  <%= f.password_field :password_confirmation, label: "Confirm Password", icon: "lock" %>
  <%= f.submit "Sign Up!", :class=> "btn btn-primary" %>

<% end %>