<!-- users profile page links to everything, importantly edit user and edit goals, button to update usersgoals lists usersgoals some sort of chart ; posts to usersgoals -->

<h1>Hi <%= @user.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="http://i.imgur.com/aYEXWnA.png">
    </div>
    <div class="col-md-9 postbox">
      <h1><%= @user.name %></h1>

      <%= link_to "Edit Your Settings", edit_user_path(@user) %>
      <%= link_to "Update Your Goals", goals_path(@user) %>

      <!-- AJAX Put in some check off goals completed -->


      <!-- include partials?? -->

      <!-- include badges, progress bar and chart stats -->
      <br>
      <% if @goals_users.any? %>
      <div class="col-xs-9">
        <table class="table table-striped">
          <caption class="text-center">Your Custom Goals</caption>
          <thead>
            <tr>
              <th>Goal</th>
              <th>Done Today?</th>
            </tr>
          </thead>
          <tbody>
            <% @goals_users.each do |goal_user| %>
            <% goal = goal_user.goal %>
            <tr>
              <td><%= link_to goal.name, eachgoal_path(@user, goal) %></td>
              <td>
                <% if goal_user.completed_today %>
                DONE!
                <% else %>
                <%= link_to '<button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>'.html_safe, goal_complete_path(:id => goal.id), class: "ajax-done-btn" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <h1><a href="/users/<%=@user.id%>/goals">CLICK HERE TO ADD GOALS!</a></h1>
        <% end %>
      </div>
      <br><br>

    </div>
  </div>
</div>