<!-- users profile page links to everything, importantly edit user and edit goals, button to update usersgoals lists usersgoals some sort of chart ; posts to usersgoals -->

<div class="container">
  <div class="row text-center">
    <!-- <div class="col-md-3">
      <img src="http://i.imgur.com/aYEXWnA.png">
    </div> -->
    <div class="col-xs-8 col-xs-offset-2">
      <h1><%= @user.name %></h1>

      <%= link_to "Edit Your Contact Settings", edit_user_path(@user) %>

      <!-- AJAX Put in some check off goals completed -->


      <!-- include partials?? -->

      <!-- include badges, progress bar and chart stats -->
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <h2>Badges</h2>
      <% if @user.awards.any? %>
      <% @user.awards.each do |award|%>
      <h3 class="badge-name"><%= award.name %></h3>
      <%= image_tag 'badges/'+award.image_url, title: award.desc, size: "100" %>
      <% end %>
      <% end %>
    </div>
    <% if @goals_users.any? %>
    <div class="col-xs-8">
      <table class="table table-striped">
        <h2 class="text-center">Your Daily Goals</h2>
        <thead>
          <tr>
            <th>Goal</th>
            <th>Done Today?</th>
          </tr>
        </thead>
        <tbody>
          <% @goals_users.sort.each do |goal_user| %>
          <% goal = goal_user.goal %>
          <tr>
            <td><%= link_to goal.name.capitalize, eachgoal_path(@user, goal) %></td>
            <td>
              <% if goal_user.completed_today %>
              DONE!
              <% else %>
              <%= link_to '<button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>'.html_safe, goal_complete_path(:id => goal.id), class: "ajax-done-btn" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <h1><a href="/users/<%=@user.id%>/goals">CLICK HERE TO ADD GOALS!</a></h1>
      <% end %>
    </div>

    <br><br>

  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div id="streakChart" style="height: 250px;"></div>
    </div>
  </div>
</div>

<script>
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'streakChart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      { streak: 'Streak Completed', value: <%=@streak_completed %> },
      { streak: 'Max Streak', value: <%=@max_streak%> },
      { streak: 'Total Completions', value: <%=@total_completions%> },
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'streak',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });

</script>

